/* Regular Weight  */
@font-face {
  font-family: "Technology";
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/technology.regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    to bottom right,
    rgba(113, 219,  212, 0.55) 14%,    
    rgba(233, 60, 172,0.5) 50%,
     rgba(0,188,225,0.5) 100%);
  transition: all .95s;
}



.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;  
}

.theme {
  transition: all .15s;
}

.theme:hover {
  opacity: .80;
}

img{
  flex: 0 0 auto;
  width: 45px;
  height: 45px;  
  padding: 0;
  cursor: pointer;
  transition: all .15s;
}

img:hover {
  scale: 1.05;
  opacity: .75;
}

.dark-mode {
  background: #7A93DC;
}

.calc-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-end;
  margin-top: 40px;
}

.calc-display {
  font-family: Technology;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  border: 1px solid black;
  background-color: rgb(64, 72, 79);
  border-radius: 7px;
  margin-bottom: -2px;
  /* color:rgb(115, 162, 77); */
  color: rgb(122, 232, 195);
  box-shadow: 6px 6px 8px rgb(57, 58, 58);
  padding: 10px;
}

.last-operation {
  color: rgb(209, 215, 226);
}

.current-operation {
  font-size: 44px;
  align-self: flex-end;
}

.calc-buttons {
  display: flex;
  flex-flow: row wrap;
  box-shadow: 6px 6px 8px rgb(57, 58, 58);
}

button {
  flex: 1;
  padding: 1em 1.5em;
  border: 1px solid black;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(178, 229, 248);
  border-radius: 3px; 
  transition: all .15s;
}

button:hover {
  background-color:rgb(149, 189, 204);
}

button:active {
  opacity: .65;
}


.clear-button {
  width: 37%;
  flex: 2 0 auto;  
  background-color: bisque;
}

.clear-button:hover {
  background-color: rgb(218, 195, 169);
}

.operator,
.equal-button,
.percentage-button {
  background-color: rgb(250, 189, 198);
  transition: all .15s;
}

.operator:hover,
.equal-button:hover,
.percentage-button:hover {
  background-color: rgb(212, 147, 157);
}

.we-do-not {
  font-size: 28px;
  color: rgb(182, 17, 17);
  font-weight: bold;
}

.disabled {
  cursor: default;
  opacity: 0.65;
  /* background-color:  rgb(184, 144, 150); */
  pointer-events: none;
  border-color: rgb(182, 17, 17);
}




